body{
   background-image: url(https://i.pinimg.com/originals/e1/13/9e/e1139e26555d9325b5df67c5efa72912.jpg);
 background-size: cover;
   background-position: center;
   height:100vh;

}
.title-cheese{
    font-size: 6rem;
 text-shadow:0 0 10px rgba(8, 8, 8, 0.877);
 transform: translateY();
 font-weight: 1400;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.img-size{
    height: 35vh;
    width: 35vh ;
    border-radius: 50%;
    transform: translateX(20%);

}

.transparent{
    background-color: rgba(240, 255, 255,);
    opacity: .9;
}
button{
    width: 12vw;
}
img:hover{
   box-shadow: 0 0 20vh rgba(255, 255, 255, 0.877);
    transition: all .5s ease;
}
.card-align{
    transform: translateX(50%);
}

.invent-align{
    transform: translateY(35%);
}